<div class="widget-item">
    <h3 class="widget-title">Latest News</h3>
    <div class="post-small">
        <div class="post-date">
            <span class="todays-date time">18</span>
            <span class="todays-month">June</span>
        </div> <!-- /.post-thumb -->
        <div class="post-content">
            <h4><a href="https://uk.finance.yahoo.com/news/best-black-friday-uk-2014-holidays--hotels--flights---travel-deals-online-164319461.html">Black Friday UK 2014 Holidays</a></h4>
            <span>Yahoo Travels</span>
            <p>Find out how to bag the best travel deals on Black Friday 2014</p>
        </div> <!-- /.post-content -->
    </div> <!-- /.post-small -->
    <div class="post-small">
        <div class="post-date">
            <span class="todays-date time">14</span>
            <span class="todays-month">June</span>
        </div> <!-- /.post-thumb -->
        <div class="post-content">
            <h4><a href="http://www.breakingtravelnews.com/news/article/dubai-cruise-season-in-full-swing-as-weather-cools/">Dubai cruise season in full swing as weather cools</a></h4>
            <span>Travel News</span>
            <p>Dubai’s cruise season, which began in late October with the arrival of the Rotterdam, heated up last weekend as the weather cooled.</p>
        </div> <!-- /.post-content -->
    </div> <!-- /.post-small -->
    <div class="post-small">
        <div class="post-date">
            <span class="todays-date time">12</span>
            <span class="todays-month">June</span>
        </div> <!-- /.post-thumb -->
        <div class="post-content">
            <h4><a href="http://www.breakingtravelnews.com/news/article/heathrow-to-welcome-new-american-philadelphia-flight/">Heathrow to welcome new American Philadelphia flight</a></h4>
            <span>BBC Travels</span>
            <p>American Airlines will give customers another choice for trans-Atlantic travel when it launches new daily daytime service from Philadelphia International Airport to London Heathrow Airport on March 29th, 2015.</p>
        </div> <!-- /.post-content -->
    </div> <!-- /.post-small -->
</div> <!-- /.widget-item -->