<div class="partner-list">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img class="partner-image" src="http://www.britishairways.com/assets/images/global/components/globalHeader/balogo.png" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img class="partner-image" src="http://ie1.trivago.com/images/layoutimages/mars/logo_ci/logo@2x_.png" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img class="partner-image" src="http://c1.tacdn.com/img2/langs/en_UK/branding/trip_logo.svg" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img class="partner-image" src="http://media.sc.easyjet.com/ejcms/cache/medialibrary/Images/Global/A%20Header%20Graphics/easyJet-main-web-header-logo2.ashx" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img class="partner-image" src="http://cdn.travelpn.com.edgesuite.net/lmn/s/cap.prod.1.6176/img/lmn-logo-white.svg" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item last">
                    <img class="partner-image" src="http://www.ryanair.com/static/images/ryanair.png" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.partner-list -->